<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
                <!--<Pattern>%d %highlight{%p} %style{%C{1.} [%t] %m}{bold,green}%n</Pattern>-->
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="MyFile"/>
        </Async>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
            <!--<PatternLayout pattern="%d %highlight{%p} %style{%C{1.} [%t] %m}{bold,green}%n"/>-->
            <!--<PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}%highlight{%-5level: %m%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}"/>-->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>